body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.logo-details{
    padding: 15px;
}

img{
    width: 500px;
    height: 300px;
    aspect-ratio: 1 / 1;
}